@model RCP.Data.Entities.Supplier;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        <li>@Model.SupplierId</li>
        <li>@Model.SupplierName</li>
        <li>@Model.LastModified</li>
        <li>@Model.City</li>
        <li>@Model.Country</li>
        <li>@Model.Phone</li>
    </ul>

</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
